body {
	background-color: #211d23;
	font-family: Cambria;
}

/* catagory heading - 4 pages ----------------------------*/
h1 {
	text-align: center;
	font-family: serif, 'verdana';
	color: #d3d3d3;
}

/* Div image container - all images - 4 pages ------------*/
.bigbox {
	max-width: 100%;
	height: inherit; 
	border: 2px solid #00ffff;
	border-radius: 15px;
	background-color: rgb(47, 79, 79, .9);
	box-shadow: 0px 0px 30px 1px rgb(0, 255, 255);
	display: table;
	align-items: flex-start;
	justify-content: space-around;
	padding: 5px;
}

/* individual image container - 4 pages ,  Portrait apart ----------- */
#imgbox {
	box-sizing: content-box;
	border-radius: 17px;
	max-width: calc(33.33% - 20px);
	height: auto;
	display: inline-block;
	overflow: hidden;
	position: relative;
	object-fit: scale-down;
	box-shadow: 0px 0px 3px 1px rgb(240, 248, 255);
	margin: 10px;
	background-size: cover;
	background-position: center;
}

/* individual image - 4 pages , portrait apart ----------*/
img:not(#smalllogo) { /* exclude css on footer logo */
	max-width: 100%;
	max-height: auto;
	background-size: auto;
	aspect-ratio: 16/9;
	opacity: .7;
	transition: 1ms ease;
	backface-visibility: hidden;
	border-radius: 17px;
}

/* hidden link on images - all images , portrait apart ---------- */
.middle {
	transition: .5s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

/* text on hidden link box ---------------- */
.text {
	background-color: rgb(111.56, 111.56, 111.56, .9);
	font-size: 16px;
	padding: 16px 32px;
	line-height: 25px;
	border-radius: 20px;
}

/* link color ----------- */
.text a {
	color: #bfbfbf;
}

/* on hover effects -------------------- */
#imgbox:hover img {
	opacity: 1;
}

#imgbox:hover {
	box-shadow: 0 0 7px 2px #FA2FB5;
}


.middle:hover {
	opacity: 1;
	transition: .1s ease;
}

.text a:hover, .text a:active, .text a:focus {
	color:#2308f7;
}

/* footer logo image ----------------------- */
#smalllogo {
 	height: 75px;
  	width: auto;
}

/* back to top button --------------------------*/
#myBtn{
	display: none;
  	position: fixed;
  	bottom: 45px;
	font-size: 15px;
	border: none;
	outline: groove;
	background-color: #3ca2c3;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 15px;
	left: 50%;
    transform: translateX(-50%); /* Horizontally center the button */
}

#myBtn:hover {
	background-color: #211d23;	
}
