:root {
	/* dark colour mode*/
	--heading-color: #b0c4de;
	--form-shadow: #E0115F;
	--form-bgColor: rgba(255, 255, 255, 0.1);
	--formText-color: #d3d3d3;
}

:root.light-mode {
	/* light colour mode */
	--heading-color: #6ea4e9;
	--form-shadow: #ff0000;
	--form-bgColor: #393939;
	--formText-color: #bdbdbd;
}

body {
	/*background-color: #211d23;*/
	font-family: Cambria;
}

#infoMsg {
	text-align: center;
	margin-bottom: 50px;
}

/* form box -------------------------------*/
#container {
	width: 750px;
	margin: 50px auto;
	background-color: var(--form-bgColor);
	border-radius: 15px;
	box-shadow: 0px 0px 70px 10px var(--form-shadow);
	padding: 30px;	
}

/* all id's of the different Div tags on the 3 forms */
.divlabel {
    line-height: 30px;
	margin: auto;
	margin-top: 2%;
	font-family: fantasy, serif, 'Impact';
	color: var(--formText-color);
	display: inline-block;
}

/* delete page paragraphs*/
.divlabel2 p {
    font-size: 16px;
    line-height: 2px;
	padding: 5px;
	padding-left: 15px;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--formText-color);
	display: inline-block;
}

/* Ajax response text div */
#delbtn {
    font-size: 14px;
    line-height: 10px;
	padding: 5px;
    margin: auto;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--formText-color);
	display: inline-block;
}

/* input tags - all 3 forms ------------------*/
input, label {
	margin: 10px;
	padding: 5px;
	padding-left: 15px;
	font-size: 20px;
}

input {
	transition: box-shadow .5s;
	width: 350px;
	height: 40px;
	margin: 10px;
	border-radius:10px;
	border: 2px solid #808080;
	background: lightgrey;
	float: left;
	cursor: pointer;
}

input:hover {
	box-shadow: 0 0 50px 10px rgb(123, 31, 162);
	background-color: #fffafa;
}

input::placeholder {
	color: black;
	font-family: 'Baskerville', serif;
}

/* heading ---------------------------- */
h1{
	font-size: 40px;
	font-family: 'Baskerville' , serif;
	color: var(--heading-color);
}

h5 {
	font-size: 30px;
	font-family: bradley hand , cursive;
	color: var(--heading-color);			
}

#yesx, #nox {
	border: 1px;
	margin: 20px;
	padding: 15px;
	border-radius: 15px;
	text-align: center;
	font-family: fantasy, serif, 'Impact';
	font-size: 20px;
	background-color: #a9a9a9;
}

#yesx a, #nox a {
    text-decoration: none;
	color: black;
}

#nox {
	margin-left: 15px;
}

#nox:hover {
	box-shadow: 0 0 30px 10px red;
	background-color: snow;
	cursor: pointer;
}

#yesx:hover {
	box-shadow: 0 0 30px 10px #00ff00;
	background-color: snow;
	cursor: pointer;
}

/* CSS class for fade-in transition */
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

/* Ajax display button */
#yesx1 {
	border: 1px;
	margin: 20px;
    margin-left: 0px;
	padding: 15px;
	border-radius: 15px;
	text-align: center;
	font-family: fantasy, serif, 'Impact';
	font-size: 20px;
	background-color: #a9a9a9;
}

#yesx1:hover {
	box-shadow: 0 0 30px 10px #00ff00;
	background-color: snow;
	cursor: pointer;
}
